body {
    font-family: Arial, Verdana,  sans-serif; /* Familia de fuentes */
    font-size: 11pt; /* El tamaño de la fuente principal en el tag <p></p>  */
    background-color:#5988FF; /* El color del fondo de la página web */
    color: #FD98FB; /* El color del texto */ 
}
h1 {
    color: #D6FF6B; /* El color de la cabecera */
    font-size: 24pt; /* El tamaño de la fuente de la cabecera/
    font-family: Georgia, Times, serif; /* La familia tipográfica utilizada en la cabecera */
} 

h2 {
    color: #FFFFFF; /* El color de la cabecera */
    font-size: 24pt; /* El tamaño de la fuente de la cabecera/
    font-family: Georgia, Times, serif; /* La familia tipográfica utilizada en la cabecera */
}